<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <bookmarks>
        <bookmark name="Students" href="#students"></bookmark>
    </bookmarks>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<img class="logo" src="images/logo2.png"/>
<div class="container">
<h3>SMiLe LINK 88</h3>
<div id="detail">

        <table>
            
            <tr>
                <td class="firsttd">Nama Pemegang Polis</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">SINTA</td>
 
            </tr>
             <tr>
                <td class="firsttd">Usia Pemegang Polis</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">30 Tahun</td>
 
            </tr>
       
            <tr>
                <td class="firsttd">Nama Tertanggung</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">SINTA</td>
 
            </tr>
            <tr>
                <td class="firsttd">Usia Tertanggung</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">30 Tahun</td>
 
            </tr>
                    <tr>
                <td class="firsttd">Jenis Kelamin Tertanggung</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">Perempuan</td>
 
            </tr>
            
                    <tr>
                <td class="firsttd">Masa Pertanggungan</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">50 tahun (Sampai Tertanggung Berusia 80 Tahun)</td>
 
            </tr>
            
                   <tr>
                <td class="firsttd">Premi Pokok Semesteran</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">Rp.15,000,000.00 (75%)</td>
 
            </tr>
                <tr>
                <td class="firsttd">Premi Top Up Berkala Semesteran</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">Rp.5,000,000.00 (25%)</td>
 
            </tr>
              <tr>
                <td class="firsttd"></td>
                <td class="secondtd"></td>
                <td class="thirdtd">-------------------------</td>
 
            </tr>
            <tr>
                <td class="firsttd">Total Premi Semesteran</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">Rp.20,000,000.00</td>
 
            </tr>
             <tr>
                <td class="firsttd">Asumsi cuti Premi setelah</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">Tahun ke 10</td>
 
            </tr>
            <tr>
                <td class="firsttd">Uang Pertanggungan (UP)</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">Rp.300,000,000.00</td>
 
            </tr>
               <tr>
                <td class="firsttd">Tipe Medis Calon Tertanggun</td>
                <td class="secondtd">:</td>
                <td class="thirdtd">"NM", jika belum punya polis di Sinarmas MSIG Life</td>
 
            </tr>
        </table>
 
</div>
<hr/>

<div id="pilihandanainvestasi">
 <table>
            
            <tr>
            
            <td>
            Pilihan Dana Investasi:
            </td>
            
            <td>
            Alokasi Premi
            </td>
            </tr>
            
             <tr>
            
            <td>
            - EXCELLINK Fixed Income Fund :  Penempatan minimum 80% (delapan puluh perseratus) dana investasi pada  instrumen-instrumen investasi berpendapatan tetap dan/atau maksimum 20% (dua puluh perseratus) instrumen-instrumen investasipasar uang
            </td>
            
            <td>
            100%
            </td>
            </tr>
 </table>

</div>
</div>

</body>
</html>